/* General - All pages */
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6969;
    margin: 0;
    line-height: 1.3em;
}
/* Marks email addresses */
span{
    color: #df5277;
}
/*Main Content - All pages */
/* set row height to that of largest column*/
.row{
    display: flex;
}
.section_head{
    font-size: 170%;
    margin: 30px 0;
}
.container{
    padding: 0;
    max-width: 100vw;
}
/*Header - All pages*/
.navbar{
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    font-size: 75%;
    background-color: #fffabe;
    text-align: center;
    display: inline-block;
    color: #515151;
    white-space: nowrap;
}
.navbar-brand {
    height: auto;
    float: none;
    padding-bottom: 0;
}
.navigation{
    width: 100%;
    margin: 2% 0;
    display: table;
}
.nav>li>a{
    padding: 0 1px;
}
.navigation ul{
    padding: 0;
    display: table-row;
}
.navigation li{
    margin: 0 1.5%;
    padding: 0 2%;
    display: table-cell;
}
.navigation a{
    text-decoration: none;
    color: #515151;
}
.nav>li>a:hover {
     background-color: transparent;
}
.navigation a:active, .navigation a:hover{
    color: #d42551;
}
.head_img{
    width: 100%;
}
/* end Header */
/* Footer - All pages */
footer{
    width: 100%;
    height: 100%;
    background-color: #df5277;
    color: #ffffff;
    margin-top: 1%;
    text-align: center;
}
.contact_information{
    font-size: 95%;
    padding-top: 2%;
    padding-left: 0;
    margin: 0;
}
.contact_information li{
    display: inline-block;
    margin: 0 1% 1% 1%;
}
.copyright{
    margin: 1% 0;
    font-size: 91%;
}
/* end Footer */

/* Our_Macarons.html */
#flavor_list > ul{
    margin-left: 5%;
}
/* Contact.html */
#store_info>p{
    margin: 1.5em 0;
}
#store_info ul{
    list-style-type: none;
    padding: 0;
    margin: 1.5em 0;
}
/* Contact form - contact.html*/
#contact_form input, textarea{
    width: 100%;
    padding: 1%;
    margin: 2% 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-weight: bold;
    border: none;
}
#contact_form textarea{
    height: 10vh;
    resize: none;
}
/* Submit Button */
#submit{
    text-align: right;
}
#submit>input{
    width: 25%;
    color: inherit;
    text-transform: uppercase;
}
/*end Contact Form

/* Weekday flavor boxes - index.html */
#dailyFlavor{
    width: 100%;
    min-height: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.day_box{
    /* bootstrap col formatting */
    float: left;
    position: relative;
    box-sizing: border-box;
    line-height: 10px;
    width: 130px;
    height: 140px;
    display: inline-block;
    margin: 8px;
    background-color: #fffabe;
    font-size: 12px;
}
.day_time{
    height: 49px;
    margin: 12px;
}
.day{
    font-size: 14px;
}
.top_flavor, .bottom_flavor{
    position: relative;
    display: inline-block;
    width: 130px;
    height: 33px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 6px;
    margin: 0;
}
.flavor{
    float: left;
    padding: 10px 6px;
    margin: 0;
}
.flavor_img{
    float: right;
    padding: 6px;
}
#monday .bottom_flavor{
    background-color: #824603;
    color: #ffffff;
}
#wednesday .bottom_flavor{
    background-color: #df5277;
    color: #ffffff;
}
#friday .bottom_flavor{
    background-color: #a2304e;
    color: #ffffff;
}
#sunday .bottom_flavor{
    background-color: #c39005;
    color: #ffffff;
}
/* end Weekday boxes */

/* Phone screens max 768px */
/* For increase in font size*/
@media screen and (min-width: 500px){
    .navbar{
        font-size: 100%;
    }
}
/* for background image display */
@media screen and (min-width: 670px){
    /* Our_Macarons.html */
    #flavor_list{
        background-image: url("assets/images/our-macarons-background.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 90% 90%;
    }
    /* Gift_Parties.html */
    #gift_parties{
        background-image: url("assets/images/gifts-parties-background.png");
        background-position: right -20%;
        background-repeat: no-repeat;
        background-size: 90% 90%;
    }
}

/* fill full screen */
@media screen and (min-width: 768px){
    /* General - All pages */
    .container{
        width: 100%;
    }
    .main_content{
        font-size: 14px;
    }
    .section_head{
        font-size: 20px;
    }
    /* Navigation */
    .navbar{
        text-align: left;
        height: 72px;
        font-size: 100%;
    }
    /* navigation container */
    .navbar>.container-fluid{
        display: table;
        width: 100%;
    }
    /* logo container */
    .navbar-header {
        width: auto;
        display: table-cell;
    }
    /* logo */
    .navbar-brand{
        float: left;
        padding-bottom: 15px;
    }
    /* Nav Links container */
    .navigation{
        display: table-cell;
    }
    .navigation ul {
        display: table-row;
        width: 100%;
    }
    .navigation li{
        width: 20%;
        margin-top: 1%;
        text-align: center;
    }
    .nav>li>a{
        padding: 15px 0;
    }
    /* END Navigation */

    /* Index.html & Contact.html */
    .macarons_pop_image{
        margin: auto;
        text-align: center;
    }
    /* Our_Macarons.html */
    #flavor_list{
        background-size: 100%;
    }
    #flavor_list > ul{
        margin-left: 0;
    }
    /* Gift_Parties.html */
    #gift_parties{
        background-position: right bottom;
        background-size: 100%;
    }

    /* Contact.html */
    .contact_information {
        font-size: 12px;
    }
    .copyright{
        font-size: 11px;
    }

    /* Weekday flavor boxes - index.html */
    #dailyFlavor{
        margin: 0;
    }
    .day_box{
        width: 126px;
        margin: 8px 6px;
    }
    .top_flavor, .bottom_flavor{
        width: 126px;
    }
    /* end Weekday boxes */
} /* END min-width: 768px

/* centered section with increasing white space on left & right */
@media screen and (min-width: 1000px){
    /* General - All pages */
    .container{
        width: 1000px;
    }
    /*Main Content Section */
    .section_head, #store_info>.section_head{
        font-size: 20px;
        margin:40px 0;
    }
    /*Header - All pages*/
    header{
        width: 1000px;
        height: 72px;
        font-size: 16px;
    }
    .logo{
        margin: 20px 40px;
    }
    .navigation li{
        font-size: 16px;
    }
    .head_img{
        width: 1000px;
    }
    /* end Header */

    /* Footer - All pages */
    .contact_information{
        font-size: 12px;
        padding: 0;
    }
    .contact_information li{
        width:170px;
        margin: 20px 60px 0 60px;
    }
    .copyright{
        font-size: 11px;
    }
    /*end Footer*/

    /* Main content - our_macarons.html, gifts_parties.html, contact.html */
    .container-fluid {
        margin: 0 auto;
    }
} /* END min-width: 1000px */