/*BOOTSTRAP BODY DEFAULTS
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}*/

/* General - All pages */
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6969;
    margin: 0;
    line-height: 1.2em;
}
/* Marks email addresses */
span{
    color: #df5277;
}
/*Main Content - All pages */
.section_head{
    font-size: 170%;
    margin: 10% 0;
}
/*.main_content{*/
    /*margin: 0 10%;*/
/*}*/

/*Header - All pages*/
header{
    width: 100%;
    height: 10%;
    font-size: 75%;
    background-color: #fffabe;
    text-align: center;
    display: inline-block;
    color: #515151;
    white-space: nowrap;
}
.logo{
    margin: 2%;
}
.navigation{
    width: 100%;
    margin: 2% 0;
    display: table;
}
.navigation ul{
    padding: 0;
    display: table-row;
}
.navigation li{
    margin: 0 1%;
    padding: 0 2%;
    display: table-cell;
}
.navigation a{
    text-decoration: none;
    color: #515151;
}
.navigation a:active, .navigation a:hover{
    color: #d42551;
}
.head_img{
    width: 100%;
}
/* end Header */
/* Footer - All pages */
footer{
    width: 100%;
    height: 100%;
    background-color: #df5277;
    color: #ffffff;
    margin-top: 1%;
    text-align: center;
}
.contact_information{
    font-size: 95%;
    padding-top: 2%;
    padding-left: 0;
    margin: 0;
}
.contact_information li{
    display: inline-block;
    margin: 0 1% 1% 1%;
}
.copyright{
    margin: 1% 0;
    font-size: 91%;
}
/* end Footer */


/* Contact.html */
#store_info p{
    margin: 1.5em 0;
}
#store_info ul{
    list-style-type: none;
    padding: 0;
    margin: 1.5em 0;
}
/* Contact form - contact.html*/

#contact_form input, textarea{
    width: 100%;
    padding: 1%;
    margin: 2% 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-weight: bold;
    border: none;
}
#contact_form textarea{
    height: 20vw;
    resize: none;
}
/* Submit Button */
#submit{
    text-align: right;
}
#submit>input{
    width: 25%;
    color: inherit;
    text-transform: uppercase;


}
/*end Contact Form

/* Phone screens max 768px */

/* For increase in font size*/
@media screen and (min-width: 667px){
    header{
        font-size: 100%;
    }
}

/* fill full screen */
@media screen and (min-width: 768px){

}

/* centered section with increasing white space */
@media screen and (min-width: 1000px){
    /* General - All pages */
    body{
        margin: 7px;
    }
    /* Marks email addresses */
    span{
        color: #df5277;
    }
    /*Main Content Section */
    .section_head{
        font-size: 20px;
        margin:40px 0;
    }
    /*Header - All pages*/
    header{
        width: 1000px;
        height: 72px;
        font-size: 16px;
    }
    .logo{
        margin: 20px 40px;
    }
    .navigation li{
        margin: 0 20px;
    }
    .head_img{
        width: 1000px;
    }

    /* end Header */
    /* Footer - All pages */
    footer{
        position: relative;
        bottom: -40px;
        width: 1000px;
        height: 80px;

    }
    .contact_information{
        font-size: 12px;
        padding: 0;
    }
    .contact_information li{
        width:170px;
        margin: 20px 60px 0 60px;
    }
    .copyright{
        font-size: 11px;
    }
    /*end Footer*/


    /* Main content - index.html*/
    #welcome_information{
        width: 1000px;
        box-sizing: border-box;
    }
    #macarons_solid_image {
        position: relative;
        top: 140px;
        left: 30px;
    }
    #home_body_content{
        width: 740px;
        margin: 20px;
        padding: 0 30px;
        box-sizing: border-box;
    }
    /* Main content - our_macarons.html, gifts_parties.html, contact.html */
    .main_content{
        height: 600px;
        width: 1000px;
        padding: 0 7px;
    }
    .main_content>p{
        padding: 0 7px;
    }
    body>p{
        width: 1000px;
        padding: 0 7px;
        margin: 0;
    }

    /* Main content - our_macarons.html */
    #our_macarons_content{
        background-image: url("assets/images/our-macarons-background.png");
    }
    /* Main content - gift_parties.html */
    #gift_parties_content{
        background-image: url("assets/images/gifts-parties-background.png");
    }
    #party_tower{
        width: 550px;
    }
    /* Main content - contact.html */
    /*#hours{*/
        /*height: 500px;*/
    /*}*/
    #store_info{
        width: 30%;
        height: 80%;
        margin: 0 2%;
        display: inline-block;
    }
    #store_info ul{
        list-style-type: none;
        padding: 0;
    }
    /* Contact form - contact.html */
    #contact_form {
        width: 30%;
        height: 80%;
        margin: 0 2%;
        display: inline-block;
        position: relative;
        top: 4%;
    }
    #contact_form .section_head{
        margin: 20px 0;
    }
    #contact_form input, textarea{
        width: 100%;
        height: 35px;
    }
    /*#contact_form textarea{*/
        /*height: 70px;*/
    /*}*/

    /* end Contact Form */
    #macarons_pop_image{
        display: inline-block;
        position: relative;
        top: -2%;
        margin: 0 2%;
    }

    /* Weekday flavor boxes - index.html */
    #weekday_boxes{
        width: 1000px;
        height: 140px;
        clear: both;
        line-height: 10px;
    }
    .day_box{
        width: 126px;
        height: 140px;
        display: inline-block;
        margin: 0 6px;
        box-sizing: border-box;
        background-color: #fffabe;
    }
    .day_time{
        height: 58px;
        padding: 8px;
        /* total height of 74px */
    }
    .time{
        clear: both;
        font-size: 12px;
    }
    .top_flavor, .bottom_flavor{
        display: inline-block;
        width: 126px;
        height: 33px;
        font-size: 12px;
        box-sizing: border-box;
        margin: 0;
    }
    .flavor{
        float: left;
        padding: 10px 6px;
        margin: 0;
    }
    .flavor_img{
        float: right;
        padding: 6px;
    }
    #monday{
        margin-left: 11px;
    }
    #sunday{
        margin-right: 11px;
    }
    #monday .bottom_flavor{
        background-color: #824603;
        color: #ffffff;
    }
    #wednesday .bottom_flavor{
        background-color: #df5277;
        color: #ffffff;
    }
    #friday .bottom_flavor{
        background-color: #a2304e;
        color: #ffffff;
    }
    #sunday .bottom_flavor{
        background-color: #c39005;
        color: #ffffff;
    }
    /* end Weekday boxes */
}